.header-div {
  width: 100%;
}

.header-content {
  padding-top: 10rem;
  z-index: 50;
}

.header-text {
  background-color: slategray;
  width: max-content;
}

.bg-image {
  height: 200px;
  /* background-image: url("../../../../public/bg.jpg"); */
}

.header-image {
  height: auto;
  object-fit: cover;
  object-position: top right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
